/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #383838;
  height: 1000px;
} */

h1 {
  background-color: inherit;
  color: white;
  font-family: "Poppins", sans-serif;

}

h2 {
  background-color: inherit;
  color: white;
}

h3 {
  background-color: inherit;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: white;
}


a {
  background-color: inherit;
  color: white;
  text-decoration: none;
}

header a:hover {
  background-color: inherit;
  color: #FB4646;
  text-shadow: 2px 3px 5px rgba(251,70,70,1);
  font-size: 1.1em;
  transition: 300ms;

}



p {
  background-color: inherit;
  color: white;
}

body {

  background-color: #383838;

  font-family: "Poppins", sans-serif;
}


html {

}



.full-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #383838;
  max-width: 1200px;
  margin: 0 auto;
  width: 1000px;
  height: auto;
  gap: 30px;
}


header {
  display: flex;
  margin-top: 20px;
  padding: 5px;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
  background-color: inherit;
  font-size: 25px;
  gap: 20px;
  font-family: "Poppins", sans-serif;
  position: sticky;
  top: 0px;
}




section {
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  background-color: inherit;

}

.profile-pic {
  background-image: url('https://scontent-ort2-2.xx.fbcdn.net/v/t1.6435-9/120073870_3606135426098304_7704057831156932260_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=EzNmgLDQHIgAX82vXYJ&_nc_ht=scontent-ort2-2.xx&oh=00_AT8H6GkKCvdhG9z30QNNoxChsBMOyRhq2Pj44eQzlGCbIg&oe=621734F4');
  height: 225px;
  width: 225px;
  object-fit: fill;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin-top: 10px;
}



.left-container {
  display: flex;

  background-color: inherit;
  width: 300px;
  height: auto;
  text-align: center;
}

.nameCard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
  width: 100%;
  background-color: #FB4646;
  position: sticky;
  top: 50px;


}

.social-media-container {
  display: flex;
  height: 40px;
  width: 85%;
  background-color: inherit;

  justify-content: space-around;
  font-size: 1.6em;
  margin: none;
}

.social-media-container a:hover {
  font-size: 1.15em;
  transition: 300ms;
  color: white;
}



.right-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: ;
  flex-wrap: wrap;
  width: 630px;
  /* background-color: #474747;  */
  gap: 20px;



}

.about-me-whole-container {
  display: flex;
  flex-direction: ;
  flex-wrap: wrap;
  width: 100%;
  background-color: #474747;



}

.aboutME-top-container {
  display: flex;
  flex-direction: column;
  justify-content: start;

  background-color: inherit;
  margin: 30px;
  border-bottom: 5px solid #FB4646;
  /* gap: 300px; */

}





.aboutME-bottom-container {
  display: flex;
  background-color: inherit;
  margin: 30px;
  font-size: 10px;

}

.left-section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: inherit;
  width: 50%
}

.PI-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: inherit;
  width: 100%;
  /* font-size: .8em; */
  line-height: 2;
}

.PI-items {
  width: 50%;
  margin-right: 0;
}

.PI-title {
  height: auto;

}

.PI-items-left {
  width: 35%;
  margin: 0;
}

.PI-items-right {
  width: 65%;
  margin: 0;
}



.right-section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: inherit;
  width: 50%
}

.language-container {
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

.language-items {
  width: 100%;
  margin: 0;
  background-color: inherit;
}



/* .work-exp-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  margin-top: ;
  background-color: #474747;
  margin: 30px;
  border-bottom: 5px solid black;
  /* gap: 300px; */

/* }  */

.Work-Exp-item {
  display: flex;
  flex-direction: column;
  background-color: #474747;
  margin: 30px;
}


.work-exp-container {
  display: flex;
  flex-direction: ;
  flex-wrap: wrap;
  width: 100%;
  background-color: #474747;



}

.PB-container {
  display: flex;
  top: 50%;
  left: 50%;
  font-size: large;
  /* transform: translate(-50%,-50%); */
}

.fa fa-star {

}

font-family: 'Poppins', sans-serif;
